<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		Modificación de Categorías
	</title>

	<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style datos.css">
</head>

<body>
	<div id="screen">
		<h1 style="text-align: center; font-weight: bold">
			Lentes de Sol para Toda la Familia
		</h1>
		<h2 style="text-align: center; font-weight: normal">Modificar Categorías</h2>
		<hr>
		<p>Modifique la categoría como usted desee.</p>
			<form action="/modificarCategoria" method="post">
					<% data.forEach(function(row) { %>
					<input type="hidden" name="id" value="<%= row.id %>">
					<div class="last-input" id="form-nombre">
			      		<label for="nombre">Nombre de la Categoría</label>
			      		<br>
						<input type="text" name="nombre" id="nombre" value="<%= row.nombre %>">
			    	</div>
			    	<% }); %>
		    	<br>
		    	<div id="form-submit">
					<button type="submit">Enviar</button>
				</div>
			</form>
		<p style="text-align: center;"><a target="_self" href="/index_admin">Volver a la Interfaz Principal</a></p>
	</div>
</body>
</html>