<!DOCTYPE html>
<html lang="es">

<head>	
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-WCXNCP933P"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-WCXNCP933P');
	</script>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		Inserción de Categorías
	</title>

	<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style datos.css">

	<!-- Propiedades de Open Graph Protocol -->
	<meta property="og:title" content='Insertar Categorías'>
	<meta property="og:type" content='Inserción'>
	<meta property="og:url" content='https://programacion-iii-evaluacion-4.onrender.com/categoria_insertar'>
	<meta property="og:site_name" content='Lentes de Sol para Toda la Familia'>
	<meta property="og:description" content='Aqui se insertan las categorías para cada producto.'>

	<script type="application/ld+json">
		{
			"@context": "https://schema.org/",
			"@type": "WebPage",
			"name": "Lentes de Sol para Toda la Familia"
		}
	</script>
</head>

<body>
	<div id="screen">
	    <h1 style="text-align: center; font-weight: bold">
	        Lentes de Sol para Toda la Familia
	    </h1>
	    <h2 style="text-align: center; font-weight: normal">Insertar Categorías</h2>
		<hr>
		<p>Existen un total de cinco categorías para lentes de sol, en el rango de 0 a 4, las cuales denotan la transmisión de luz en estas.</p>
		<p>Sin embargo, sientase libre de colocar la categoría que guste.</p>
		
		<form action="/insertarCategoria" method="post">
			<div id="form-nombre">
	      		<label for="nombre">Nombre de la Categoría</label>
	      		<br>
				<input type="text" name="nombre" placeholder="Nombre" id="nombre">
	    	</div>
	    	<br>
	    	<div id="form-submit">
				<button type="submit">Enviar</button>
			</div>
		</form>
		<p style="text-align: center;"><a target="_self" href="/index_admin">Volver a la Interfaz Principal</a></p>
	</div>
</body>
</html>