<!DOCTYPE html>
<html lang="es">

<head>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-WCXNCP933P"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-WCXNCP933P');
	</script>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		Registro de Cliente
	</title>

	<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style datos.css">

	<script src="https://www.google.com/recaptcha/api.js" async defer></script>

	<!-- Propiedades de Open Graph Protocol -->
	<meta property="og:title" content='Registro del Cliente'>
	<meta property="og:type" content='Registro'>
	<meta property="og:url" content='https://programacion-iii-evaluacion-4.onrender.com/clientes_registro'>
	<meta property="og:site_name" content='Lentes de Sol para Toda la Familia'>
	<meta property="og:description" content='Aqui se registra a un nuevo cliente.'>

	<script type="application/ld+json">
		{
			"@context": "https://schema.org/",
			"@type": "WebPage",
			"name": "Lentes de Sol para Toda la Familia"
		}
	</script>
</head>

<body>
	<div id="screen">
		<h1 style="text-align: center; font-weight: bold">
			Lentes de Sol para Toda la Familia
		</h1>
		<h2 style="text-align: center; font-weight: normal">Registro</h2>
		<hr>
		<p style="margin: 0px;">Ingrese sus Datos a Registrar.</a></p>
		<br>
		<form action="/registro" method="post">
			<div id="email">
				<label for="email">Email</label>
				<input type="text" name="email" id="email" required>
			</div>
			<div id="password">
				<label for="pwd">Contraseña</label>
				<input type="password" id="pwd" name="pwd" required>
			</div>
			<div id="password2">
				<label for="pwd2">Verificar Contraseña</label>
				<input type="password" id="pwd2" name="pwd2" required>
			</div>
			<br>
			<div style="text-align: center;">
	    		<div class="g-recaptcha" data-sitekey="6LfrE00pAAAAAAnfRJNS-gHmUzE_atDLuyPc_5X4" style="display: inline-block;"></div>
			</div>
			<br>
			<div id="form-submit">
				<button type="submit">Registrarte</button>
			</div>
		</form>
		<br>
		<p style="text-align: center;">¿Ya estas registrado?<a target="_self" href="/index_public">Inicia tu sesión</a></p>
	</div>
</body>
</html>