<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		Ingreso de Cliente
	</title>

	<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style datos.css">

</head>

<body>
	<div id="screen">
		<h1 style="text-align: center; font-weight: bold">
			Lentes de Sol para Toda la Familia
		</h1>
		<h2 style="text-align: center; font-weight: normal">Inicio de Sesión</h2>
		<hr>
		<p style="margin: 0px;">Ingrese sus Datos.</a></p>
		<br>
		<form action="/ingreso" method="post">
			<div id="email">
				<label for="email">Correo</label>
				<input type="text" id="email" name="email" required>
			</div>
			<div id="password">
				<label for="pwd">Contraseña</label>
				<input type="password" id="pwd" name="pwd" required>
			</div>
			<br>
			<div id="form-submit">
				<button type="submit">Iniciar Sesión</button>
			</div>
		</form>
		<br>
		<p style="text-align: center;">¿No te has registrado aun?<a target="_self" href="/index_public">Registrate Aquí</a></p>
	</div>
</body>
</html>