<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		Adici칩n de Im치genes
	</title>

	<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>

<body>
	<h1 style="text-align: center; font-weight: bold;">Agregar Im치genes</h1>
	<p><a target="_self" href="/index">Volver a la Interfaz Principal</a></p>
	<div id="form">
	<form action="/agregarImagen" method="post">
		<div id="form-url">
      		<label for="url">URL de la Im치gen</label>
			<input type="text" name="url" id="url">
    	</div>
    	<div id="form-producto_id">
    		<label for="producto_id">ID del Producto</label>
    		<input type="number" name="producto_id" id="producto_id">
    	</div>
    	<div id="form-destacado">
    		<label for="destacado">Destacado (0-1)</label>
    		<input type="number" name="destacado" id="destacado">
    	</div>
	<button type="submit">Enviar</button>
	</div>
	</form>
</body>
</html>