<!DOCTYPE html>
<html lang="es">

<head>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-WCXNCP933P"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-WCXNCP933P');
	</script>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		Adición de Imagenes
	</title>

	<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style datos.css">

	<!-- Propiedades de Open Graph Protocol -->
	<meta property="og:title" content='Agregar Imagenes'>
	<meta property="og:type" content='Inserción'>
	<meta property="og:url" content='https://programacion-iii-evaluacion-4.onrender.com/imagen_agregar'>
	<meta property="og:site_name" content='Lentes de Sol para Toda la Familia'>
	<meta property="og:description" content='Aqui se agregan imagenes para los distintos productos.'>

	<script type="application/ld+json">
		{
			"@context": "https://schema.org/",
			"@type": "WebPage",
			"name": "Lentes de Sol para Toda la Familia"
		}
	</script>
</head>

<body>
	<div id="screen">
		<h1 style="text-align: center; font-weight: bold">
			Lentes de Sol para Toda la Familia
		</h1>
		<h2 style="text-align: center; font-weight: normal">Agregar Imagenes</h2>
		<hr>
			<form action="/agregarImagen" method="post">
				<div id="form">
					<div id="form-url">
			      		<label for="url">URL de la Imagen</label>
			      		<br>
						<input type="text" name="url" placeholder="URL" id="url">
			    	</div>
			    	<div id="form-producto_id">
			    		<label for="producto_id">ID del Producto</label>
			    		<br>
			    		<input type="number" min="1" name="producto_id" placeholder="ID" id="producto_id">
			    	</div>
			    </div>
		    	<div class="last-input" id="form-destacado">
		    		<label for="destacado">Destacado (0-1)</label>
		    		<br>
		    		<input type="number" max="1" min="0" name="destacado" placeholder="Destacado" id="destacado">
		    	</div>
		    	<br>
		    	<div id="form-submit">
					<button type="submit">Enviar</button>
				</div>
			</form>
		<p style="text-align: center;"><a target="_self" href="/index_admin">Volver a la Interfaz Principal</a></p>
	</div>
</body>
</html>