<!DOCTYPE html>
<html lang="es">

<head>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-WCXNCP933P"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-WCXNCP933P');
	</script>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		Interfaz Administrativa
	</title>
	
	<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style interfaz_admin.css">

	<!-- Propiedades de Open Graph Protocol -->
	<meta property="og:title" content='Interfaz Administrativa'>
	<meta property="og:type" content='Interfaz'>
	<meta property="og:url" content='https://programacion-iii-evaluacion-4.onrender.com/index_admin'>
	<meta property="og:site_name" content='Lentes de Sol para Toda la Familia'>
	<meta property="og:description" content='Esta es la interfaz administrativa.'>

	<script type="application/ld+json">
		{
			"@context": "https://schema.org/",
			"@type": "WebPage",
			"name": "Lentes de Sol para Toda la Familia"
		}
	</script>
</head>

<body>
	<div id="screen">
		<h1 style="text-align: center; font-weight: bold;">Lentes de Sol para Toda la Familia</h1>
		<h2 style="text-align: center; font-weight: normal;">Interfaz Administrativa</h2>
		<hr>
		<p><a target="_self" href="/categoria_listado">Listado de Categorías</a></p>
		<p><a target="_self" href="/producto_listado">Listado de Productos</a></p>
		<p><a target="_self" href="/clientes_listado">Listado de Clientes</a></p>
		<p><a target="_self" href="/categoria_insertar">Insertar Categorías</a></p>
		<p><a target="_self" href="/producto_insertar">Insertar Productos</a></p>
		<p><a target="_self" href="/imagen_agregar">Agregar Imágenes</a></p>
	</div>
</body>

</html>