<<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		Interfaz Principal
	</title>
</head>

<body>
	<h1 style="text-align: center;">Datos del Estudiante</h1>

	<p>Nombre: Jesús Ramírez</p>
	<p>Cédula: 30.039.073</p>
</body>

</html>