<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		Interfaz Administrativa
	</title>
	
	<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style interfaz_admin.css">
</head>

<body>
	<div id="screen">
		<h1 style="text-align: center; font-weight: bold;">Lentes de Sol para Toda la Familia</h1>
		<h2 style="text-align: center; font-weight: normal;">Interfaz Administrativa</h2>
		<hr>
		<p><a target="_self" href="/categoria_listado">Listado de Categorías</a></p>
		<p><a target="_self" href="/producto_listado">Listado de Productos</a></p>
		<p><a target="_self" href="/clientes_listado">Listado de Clientes</a></p>
		<p><a target="_self" href="/categoria_insertar">Insertar Categorías</a></p>
		<p><a target="_self" href="/producto_insertar">Insertar Productos</a></p>
		<p><a target="_self" href="/imagen_agregar">Agregar Imágenes</a></p>
	</div>
</body>

</html>