<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		Entrada al Sitio
	</title>

	<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style datos.css">
</head>

<body>
	<div id="screen">
		<h1 style="text-align: center; font-weight: bold;">Inicio</h1>
		<hr>
		<p style="margin: 0px;">Ingrese el Usuario y Contraseña de Administrador.</a></p>
		<br>
		<form action="/login" method="post">
			<div id="inicio-admin">
				<label for="admin">Usuario</label>
				<input type="text" name="admin" id="admin">
			</div>
			<div id="inicio-password">
				<label for="pwd">Contraseña</label>
				<input type="password" id="pwd" name="pwd">
			</div>
			<br>
			<div id="form-submit">
				<button type="submit">Enviar</button>
			</div>
		</form>
		<br>
		<p style="text-align: center;">¿No es un administrador? Entonces entre a la interfaz pública:<a target="_self" href="/index_public">Ingresar Aquí</a></p>
	</div>
</body>
</html>
