<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		Entrada al Sitio
	</title>
</head>

<body>
	<div id="inicio">
		<h2>
			Inicio
		</h2>
		<p>Ingrese el Usuario de Administrador</a></p>
		<hr>
		<form action="/login" method="post">
			<div id="inicio-admin">
				<label for="admin">Usuario</label>
				<input type="text" name="admin" id="admin">
			</div>
			<div id="inicio-password">
				<label for="pwd">Contraseña</label>
				<input type="password" id="pwd" name="pwd">
			</div>
			<br>
			<button type="submit">Enviar</button>
		</form>
	</div>
</body>
</html>
