body {
	background-color: #15181c;
	color: #fff;
	font-family: "Century Gothic", Century, sans-serif;
	font-size: 22px;
	line-height: 24px;
	margin: 0px;
	padding: 50px;
}

a:link, a:visited {
	color: #142b4f;
	font-weight: normal;
}

p {
	text-align: center;
	border-radius: 10px;
	display: block;
	background: #E8E8ED;
	padding: 15px;
	color: #142b4f;
}

table {
	border-collapse: separate;
	border-spacing: 0;
	width: 100%;
}

tbody {
	background: #E8E8ED;
	font-size: 14px;
	text-align: center;
}

td {
	border: 1px solid #15181c;
	color: #142b4f
}

th {
	padding: 4px;
	background-color: #142b4f;
	border: 1px solid #15181c;
}

thead {

}

#header-id {
	border-top-left-radius: 10px;
}

#header-pais {
	border-top-right-radius: 10px;
}